<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>
<body>
    <ol>
        <li>Technics</li>
        <li>Food products
            <ul>
                <li>Bread</li>
                <li>Milk</li>
                <li>Chips</li>
            </ul>
        </li>
        <li>Clothes</li>

    </ol>
<table bgcolor="aquamarine" align="center" border="2px" height="400px" width="800px">
    <tr>
        <th>Название фильма</th>
        <th>Жанр</th>
        <th>Оценка на кинопоиске</th>
    </tr>
    <tr>
        <td>Вонка</td>
        <td>Мюзикл</td>
        <td>7.2/10</td>
    </tr>
    <tr>
        <td>Дюна</td>
        <td>Фантастика</td>
        <td>7.7/10</td>
    </tr>
    <tr>
        <td>Интерстеллар</td>
        <td>Научная фантастика</td>
        <td>8.8/10</td>
    </tr>
</table>
<div class="menu">
    <h1></h1>
    <p></p>
</div>
<div class="footer">
    <p></p>
</div>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>